<head>
    <title>
        Add new task
    </title>
</head>
<body>
        
        <form action="/data" method="POST">
        <label>Task Name</label>
        <input type="text" name="name" /> </br>
        <label>Task Due</label>
        <input type="text" name="dueDate"/> </br>
        <label>Task Description</label>
        <input type="text" name="desc"/> </br>
        <button>submit</button>
        </form>
        <a href="/"  >Home</a>
        <a href="/listTasks" class="listTask">list all tasks</a><br/>
</body>